* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: linear-gradient(to bottom right, black, rgb(235, 8, 105));
}

/*slideshow styling*/
.slideshow-container {
    width: 100%;
    height: 45%;
}

div img {
    width: 100%;
    height: 40%;
    position: relative;
}

.slide {
    display: none;
}

/*dot styling*/
.dot {
    height: 15px;
    width: 15px;
    cursor: pointer;
    display: inline-block;
    background-color: rgb(96, 122, 162);
    border-radius: 40%;
}
.active, .dot:hover{
    background-color: yellow;
}


.dot-div {
    text-align: center;
}

/* fade animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1;}
}


/* footer styling */
.footerlogo {
    width: 50px;
    height: 50px;
   size: cover;
  }

footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
  }